.contacts-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contacts__link {
  display: inline-block;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $secondary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  margin-bottom: 10px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}

.map-adaptive iframe {
  border: 0;
  border-radius: 13px;
  width: 300px;
  height: 200px;

  @media screen and (min-width: $tablet) {
    width: 600px;
    height: 450px;
  }

  @media screen and (min-width: $desktop) {
    width: 800px;
    height: 600px;
  }
}
.hover-container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.letter {
  position: absolute;
  width: 50px;
  height: 50px;
  font-family: $second-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: white;
  transition: transform 0.3s ease;
}

.W {
  color: $accent-color;
  left: 10%;
  top: 10%;
}

.S {
  color: $secondary-text-color;
  right: 10%;
  bottom: 10%;
}

.label {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 30%;
  left: -20%;
  line-height: 100px;
  font-size: 20px;
  text-align: center;
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: $second-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;

  letter-spacing: 0.03em;
}

.hover-container:hover .W {
  transform: translateX(50px) rotate(90deg);
}

.hover-container:hover .S {
  transform: translateX(-50px) rotate(-90deg);
}

.hover-container:hover .label {
  opacity: 1;
}

.hover-container:hover .letter {
  opacity: 0;
}
