.header-contacts {
  @extend %list;
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and(min-width: $tablet) {
    display: block;
    margin-left: auto;
  }

  @media screen and(min-width: $desktop) {
    display: flex;
  }
}

.header-contacts__item {
  @media screen and (min-width: $desktop) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.header-contacts__item:last-child {
  @media screen and (min-width: $tablet) {
    margin-top: 10px;
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-right: 0;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.header-contacts__icon-mail--start,
.header-contacts__icon-tel--start {
  display: block;
  margin-right: 8px;
  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }

  .header-contacts__link & {
    fill: currentColor;
  }
}

.header-contacts__icon-mail--start {
  @media screen and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
}

.header-contacts__icon-tel--start {
  @media screen and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
}
