.logo {
  font-family: $second-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $logo-header-color;
}

.logo__text {
  color: $accent-color;
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;

  color: $primary-white-color;
}
