.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $first-background-color;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
