.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $first-background-color;
}

.footer-container {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.info {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.socials {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
