.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: $card-gap;
}

.projects-list__item {
  flex-basis: calc((100% - 60px) / 3);
}

.projects-list__link {
  display: block;
  text-decoration: none;
  color: $primary-text-color;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-list__thumb {
  position: relative;
  overflow: hidden;
}

.projects-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  background-color: $overlay-background;

  .projects-list__link:hover &,
  .projects-list__link:focus & {
    transform: translateY(0);
  }
}

.projects-list__descr {
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-left: 1px solid $card-border-color;
  border-right: 1px solid $card-border-color;
  border-bottom: 1px solid $card-border-color;
}

.projects-list__name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $secondary-text-color;
}
.projects-list__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
