.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--active {
    position: relative;
    color: $accent-color;
  }

  &--active::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    bottom: -1px;
  }
}
