.socials-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}

.socials-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.socials-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: $icon-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
  }
  & .socials-list__icon {
    fill: currentColor;
  }

  &--dark-background {
    color: $primary-white-color;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
