.team-list {
  display: flex;
  gap: $card-gap;
}

.team-list__member {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $primary-white-color;
}

.team-list__descr {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-list__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.team-list__pos {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
