.works-list {
  display: flex;
  gap: $card-gap;
}

.works-list__item {
  flex-basis: calc((100% - 60px) / 3);
}
.works-list__image {
  position: relative;
}

.works-list__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  background-color: $work-text-background;
}
