body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: $main-font;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(2) {
  padding-bottom: 0;
}

.section:nth-child(4) {
  background-color: $second-background-color;
}

.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
